{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document Approval</title>
</head>
<body>
  <div style="padding: 50px; background-color: #FFFFFF;">
    {% csrf_token %}
    <h3 style="font-weight: 600;">Document Approvals</h3>
    <h4 style="font-weight: 500;">Approvers shall use this form to approve or Reject documents received from users</h4>
    <form name="myForm" onsubmit="return handleApproveRequest()" method="post">
      <div class="row" style="margin-top: 10px;">
        <div class="col col-8">
          <div style="margin-top: 10px;">
            <div style="display: grid; grid-template-columns: repeat(12, 1fr); margin-top: 1px;">
              <div style="grid-column: 1 / span 3;">
                <div>
                  <h5 style="font-weight: 600;">Document Type</h5>
                  <h5 style="font-weight: 600;">Request No #</h5>
                  <h5 style="font-weight: 600;">Initiated by user</h5>
                </div>
              </div>
              <div style="grid-column: 4 / span 1;">
                <div>
                  <h5>: </h5>
                  <h5>: </h5>
                  <h5>: </h5>
                </div>
              </div>
              <div style="grid-column: 5 / span 8;">
                <div>
                  <h5>{{user.Document_Type}}</h5>
                  <h5>{{user.Request_No}}</h5>
                  <h5>{{user.Initiated_By}} <span> - {{user.Designation}}</span></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-4">
          <div style="display: grid; grid-template-columns: repeat(12, 1fr);">
            <div style="grid-column: 5 / span 2;"><button class="btn">Status</button></div>
            <div style="grid-column: 7 / span 2;"><button class="btn" style="color: #fff; background-color: #F44336;">Draft</button></div>
            <div style="grid-column: 1 / span 4;"></div>
          </div>
          <div style="text-align: center; margin-top: 10px; margin-left: -10px;"><button class="btn btn-primary">view document</button></div>
        </div>
      </div>
      <div class="row" style="margin-top: 30px;">
          {% for item in user %}
          <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="card" style="padding: 2px; box-shadow: none;">
              <h5 style="text-align: center;">{{item.approver_name}}</h5>
              <div class="card" style="padding: 1px; box-shadow: none; background-color: #00BFFF;">
                <h4 style="text-align: center;">{{item.Designation}}</h4>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="col-sm-3 col-md-2 col-lg-1" style="display: flex; align-items: center;">
            <div style="width: 90px; height: 1px; border-bottom: 1px solid #8F8F8F;"></div>
            <span>&gt;</span>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-8">
          <div class="card" style="padding: 8px; height: 120px; box-shadow: none;">
            <div></div>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-2">
          <h5>Approved</h5>
          <div>
            <input type="radio" name="approved" value="{{approved}}"/>Yes
            <input type="radio" name="rejected" value="{{rejected}}"/>No
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-3">
          <h5 class="input-label">Enter your comments here</h5>
        </div>
        <div class="col-5">
          <textarea class="col-12" rows="4" cols="50" name="commentForApproval" value='{{commentForApproval}}'></textarea>
        </div>
      </div>
      <div class="row mt-5 me-5">
        <div class="col-12 d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
      </form>
      <script type="text/javascript">
        function handleApproveRequest() {
        }
      </script>
      {% if messages %}
        {% for message in messages %}
         <script type="text/javascript">
             $(document).ready(function() {
               toastr.options.timeOut = 5000; // 2s
               toastr.error('{{ message }}');
             });
         </script>
        {% endfor %}
      {% endif %}
</body>
</html>